<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>鉴权系统登录</title>
		<link rel="icon" href="img/miao.png" type="image/x-icon" />
		<link rel="shortcut icon" href="img/miao.png" type="image/x-icon" /> 
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/authority_login.css"/>
	</head>
	<body>
		<form id="form_user" class="bg_auth">
			<img src="img/authority.jpg"/>
			<div class="auth">
				<input id="account" type="text" placeholder="账号"/>
				<input id="password" type="password" placeholder="密码"/>
				<img id="btn_lock" src="img/lock.png"/>
			</div>
		</form>
		<script src="js/jquery-3.4.1.min.js"></script>
		<script>
			$('#btn_lock').click(function() {
				let account = $('#account').val().trim();
				let password = $('#password').val().trim();
				if (account == '' || password == '') return;
				console.log(account + password);
				$('#form_user').submit();
			});
		</script>
	</body>
</html>