<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>鉴权管理界面</title>
		<link rel="icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="shortcut icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{{res}}/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="{{res}}/css/authority_manager.css"/>
	</head>
	<body>
		<div id="container">
			<!-- 头部开始 -->
			<div class="header">
				<div class="logo">
					<img src="{{res}}/img/miao_big.png"/>
					<img src="{{res}}/img/logo.png" style="height: 40px; margin-top: 5px;"/>
				</div>
				<div class="user">
					<p>你好，卢研</p>
					<img id="logout" src="{{res}}/img/poweroff.png"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<!-- 头部结束 -->
			
			<p class="p_add">
				<img id="random_add" src="{{res}}/img/random_add.png"/>
				<img id="add" src="{{res}}/img/add.png"/>
			</p>
			
			<table>
				<tr>
					<td>鉴权码</td>
					<td>有效次数</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>wulawula</td>
					<td><input type="text" value="100"/></td>
					<td class="td_op">
						<img data-id="1" class="delete" src="{{res}}/img/delete.png"/>
						<img data-id="1" class="save" src="{{res}}/img/save.png"/>
					</td>
				</tr>
				<tr>
					<td>abaaba</td>
					<td><input type="text" value="87"/></td>
					<td class="td_op">
						<img data-id="2" class="delete" src="{{res}}/img/delete.png"/>
						<img data-id="2" class="save" src="{{res}}/img/save.png"/>
					</td>
				</tr>
			</table>	
		</div>
		
		<script src="{{res}}/js/jquery-3.4.1.min.js"></script>
		<script src="{{res}}/js/authority_manager.js"></script>
	</body>
</html>