<div class="header">
    <div class="logo">
        <img src="{{res}}/img/miao_big.png"/>
        <img src="{{res}}/img/logo.png" style="height: 40px; margin-top: 5px;"/>
    </div>
    <div class="search">
        <select id="search_type">
            <option value="1">书名</option>
            <option value="2">作者名</option>
        </select>
        <input id="input_kw" type="text" placeholder="键入关键字"/>
        <div id="search_icon">
            <img src="{{res}}/img/search.png"/>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>