<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“{{kw}}”搜索结果</title>
		<link rel="icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="shortcut icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{{res}}/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="{{res}}/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="{{res}}/css/search.css"/>
	</head>
	<body>
		<div id="container">
			
			<!-- 头部开始 -->
			{% include "header.html" %}
			<!-- 头部结束 -->
			

			{% if not localBooks %}
			<div class="search_none">
				<img src="{{res}}/img/search_none.png"/>
				<p>未找到搜索结果</p>
			</div>
			{% else %}
			<div class="book_group">
				<div class="group_name">本站搜索结果</div>
				{% for i in range(localLines) %}
				<div class="book_line">
					{% with n = localLastN if loop.index0 == localLines - 1 else 3 %}
					{% for j in range(n) %}
					{% set book = localBooks[i * 3 + j] %}
					<div class="book_box">
						<img href="/catalogue/{{book.book_id}}" src="{{res}}/covers/{{book.book_name}}_{{book.author_name}}.jpg"/>
						<div class="box_right">
							<div class="box_head">
								<a href="/catalogue/{{book.book_id}}">{{book.book_name}}</a>
								<p>{{book.author_name}}</p>
								<div style="clear: both;"></div>
							</div>
							<p>{{book.info[:80]+'...'}}</p>
						</div>
					</div>
					{% endfor %}
					{% endwith %}
				</div>
				{% endfor %}
			</div>
			{% endif %}
			
			
			<!-- 尾部开始 -->
			{% include "footer.html" %}
			<!-- 尾部结束 -->
			
		</div>
		<script src="{{res}}/js/jquery-3.4.1.min.js"></script>
		<script src="{{res}}/js/common.js"></script>
		<script src="{{res}}/js/index.js"></script>
	</body>
</html>