<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“诛仙”搜索结果</title>
		<link rel="icon" href="img/miao.png" type="image/x-icon" />
		<link rel="shortcut icon" href="img/miao.png" type="image/x-icon" /> 
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/search.css"/>
	</head>
	<body>
		<div id="container">
			
			<!-- 头部开始 -->
			{% include "header.html" %}
			<!-- 头部结束 -->
			
			
			<div class="search_none">
				<img src="img/search_none.png"/>
				<p>未找到搜索结果</p>
			</div>
			
			<div class="book_group" style="display: none;">
				<div class="group_name">搜索结果</div>
				<div class="book_line">
					<div class="book_box">
						<img href="#" src="img/book_cover.jpg"/>
						<div class="box_right">
							<div class="box_head">
								<a href="#">夜的命名术</a>
								<p>会说话的肘子</p>
								<div style="clear: both;"></div>
							</div>
							<p>
								蓝与紫的霓虹中，浓密的钢铁苍穹下，数据洪流的前端，是科技革命之后的世界，也是现实与虚幻的分界。 
								钢铁与身体，过去与未来。这里，表世界与里世界并存，面前的一切。 
							</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- 尾部开始 -->
			{% include "footer.html" %}
			<!-- 尾部结束 -->
			
		</div>
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>