<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“{{kw}}”搜索结果</title>
		<link rel="icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="shortcut icon" href="{{res}}/img/miao.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{{res}}/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="{{res}}/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="{{res}}/css/search.css"/>
	</head>
	<body>
		<div id="container">
			
			<!-- 头部开始 -->
			{% include "header.html" %}
			<!-- 头部结束 -->
			

			<div class="book_group">
				<div class="group_name">本站关于“{{kw}}”的搜索结果</div>
				{% if not localBooks %}
				<div class="search_none">
					<img src="{{res}}/img/search_none.png"/>
					<p>未找到搜索结果</p>
				</div>
				{% else %}
				{% for i in range(localLines) %}
				<div class="book_line">
					{% with n = localLastN if loop.index0 == localLines - 1 else 3 %}
					{% for j in range(n) %}
					{% set book = localBooks[i * 3 + j] %}
					<div class="book_box">
						<div class="book_img">
							{% if book.finish_status == 1 %}
							<p class="finish_tag oriange">已完结</p>
							{% else %}
							<p class="finish_tag grey">未完结</p>
							{% endif %}
							<img class="book_cover" href="/catalogue/{{book.book_id}}" src="{{res}}/covers/{{book.book_name}}_{{book.author_name}}.jpg"/>
						</div>
						<div class="box_right">
							<div class="box_head">
								<a href="/catalogue/{{book.book_id}}">{{book.book_name}}</a>
								<p>{{book.author_name}}</p>
								<div style="clear: both;"></div>
							</div>
							<p>{{book.info[:80]+'...'}}</p>
							<div class="tag">
								<p type="0" href="{{res}}/epub/{{book.book_name + '_' + book.author_name + '.epub'}}" class="blue">下载</p>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endwith %}
				</div>
				{% endfor %}
				{% endif %}
			</div>
			
			<div data-kw="{{kw}}" data-type="{{type}}" id="div_otherSearch" class="book_group">
				<div class="group_name">
					<p>外站关于“{{kw}}”的搜索结果</p>
					<img src="{{res}}/img/loading.gif"/>
				</div>
				<div class="search_none" style="display: none;">
					<img src="{{res}}/img/search_none.png"/>
					<p>未找到搜索结果</p>
				</div>
				<table class="search_table">
					<tr>
						<td>书名</td>
						<td>作者名</td>
						<td>更新日期</td>
						<td>操作</td>
					</tr>
				</table>
			</div>


			<!-- 尾部开始 -->
			{% include "footer.html" %}
			<!-- 尾部结束 -->
			
		</div>
		<script src="{{res}}/js/jquery-3.4.1.min.js"></script>
		<script src="{{res}}/js/common.js"></script>
		<script src="{{res}}/js/index.js"></script>
		<script src="{{res}}/js/search.js"></script>
		<script>
			loadOtherSearchResults();
		</script>
	</body>
</html>